<div class="card text-center">
    <div class="card-header">
        Administración general
    </div>
    <div class="card-body">
        <h5 class="card-title">Hotelería</h5>
        <p class="card-text">
            Este módulo está diseñado especialmente para crear y visualizar
            los diferentes registros de hoteles previamente creados.
            Al momento de crear nuevos registro estarán apareciendo automaticamente
            abajo de este apartado. <br>
            Administre cada hotel proporcionando un click sobre la imagen, además
            actualice datos del hotel proporcionando un click en la imagen <i class="material-icons"
                title="Actualizar datos">settings</i>
            que se visualizará en la parte inferior derecha de cada registro.
        </p>
        <button class="btn btn-primary" (click)="open(content)">Nuevo hotel</button>
    </div>
    <div class="card-footer text-muted">
        <small class="text-muted">
            Power by ....
        </small>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nuevo registro</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="datos">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombrehotel">Nombre del hotel:</label>
                    <input type="text" class="form-control" id="nombrehotel" placeholder="Arboleda"
                        formControlName="nombrehotel" required>
                    <small class="form-text text-muted">Campo obligatorio *</small>

                </div>
                <div class="form-group col-md-6">
                    <label for="representantelegal">Representante legal:</label>
                    <input type="text" class="form-control" id="representantelegal" placeholder="Mateo Flores"
                        formControlName="representantehotel" required>
                    <small class="form-text text-muted">Campo obligatorio *</small>
                </div>
            </div>
            <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" class="form-control" id="direccion" placeholder="CA-10 Carretera a Esquipulas"
                    formControlName="direccionhotel" required>
                <small class="form-text text-muted">Campo obligatorio *</small>
            </div>            
          
            <!--Inicia el espacio de mensajes-->
            <ngb-alert *ngIf="successMessage" type={{messageType}} (close)="successMessage = null">
                {{ successMessage }}
            </ngb-alert>
        </form>      
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="nuevoElemento()">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Salir</button>
    </div>
</ng-template>
