<div class="table-responsive-lg">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Serie</th>
                <th scope="col">Número</th>
                <th scope="col">Total</th>
                <th scope="col">Fecha</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Detallar</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="collectionSize==0 else carga">
                <td colspan="9" class="centrarElemento">
                    No existen registros creados.
                </td>
            </tr>

            <ng-template #carga>
                <tr *ngFor="let item of items">
                    <td>{{ item.idcompra}}</td>
                    <td>{{ item.proveedorcompra}}</td>
                    <td>{{ item.seriecompra}}</td>
                    <td>{{ item.numerocompra}}</td>
                    <td>{{ item.totalcompra | currency:'Q '}}</td>
                    <td>{{ item.fechacompra | date:'dd/MM/yyyy'}}</td>
                    <td>{{ item.observacioncompra}}</td>
                    <td>
                        <a title="Detallar compra" (click)="openModalDetalle(contentDetalle, hotel, item)">
                            <i class="material-icons">{{ic}}</i>
                        </a>
                    </td>
                    <td>
                        <a title="Listar detalle" (click)="openModalListadoDetalle(contentListadoDetalle, hotel, item)">
                            <i class="material-icons">{{il}}</i>
                        </a>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
    <!--PAGINACION DEL LISTADO-->
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
        </select>
    </div>
</div>


<!--MODAL PARA AGREGAR UN NUEVO DETALLE-->
<ng-template #contentDetalle let-modal>
    <div class="modal-header">
        <a>
            <i class="material-icons md-36">shop_two</i>
        </a>
        <h4 class="modal-title" id="modal-basic-title">Nuevo detalle</h4>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            <ngb-alert [type]="tipo" [dismissible]="false">
                Hotel: <strong>{{hotelSeleccionado}}</strong>
                <br>
                Compra: <strong>{{compraSeleccionada.idcompra}}</strong>
                - Serie: <strong>{{compraSeleccionada.seriecompra}}</strong>
                Número: <strong>{{compraSeleccionada.numerocompra}}</strong>
            </ngb-alert>
        </p>
        <form [formGroup]="datos">
            <label class="my-1 mr-2" for="idarticulo">Articulo:</label>
            <select class="custom-select my-1 mr-sm-2" id="idarticulo" formControlName="idarticulo" required>
                <option *ngFor="let item of datosA$" value={{item.idarticulo}}>
                    {{item.nombrearticulo}} {{item.descripcionarticulo}}
                </option>
            </select>
            <small class="form-text text-muted">Campo obligatorio *</small>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="cantidaddetalle">Cantidad:</label>
                    <input type="number" class="form-control" id="cantidaddetalle" placeholder="10"
                        formControlName="cantidaddetalle" required>
                    <small class="form-text text-muted">Campo obligatorio *</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="preciodetalle">Precio unitario:</label>
                    <input type="number" class="form-control" id="preciodetalle" placeholder="1550.75"
                        formControlName="preciodetalle" step="0.01" required>
                    <small class="form-text text-muted">Campo obligatorio *</small>
                </div>
            </div>
            <!--Inicia el espacio de mensajes-->
            <ngb-alert *ngIf="successMessage" type={{messageType}} (close)="successMessage = null">
                {{ successMessage }}
            </ngb-alert>
        </form>
    </div>
    <div class="modal-footer" *ngIf="btnLoading else cargando">
        <button type="button" class="btn btn-primary" (click)="nuevoElemento()">Guardar</button>
        <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Salir</button>
    </div>

    <ng-template #cargando>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Procesando...
            </button>
            <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Salir</button>
        </div>
    </ng-template>
</ng-template>


<!--MODAL PARA VISUALIZAR UN DETALLE-->
<ng-template #contentListadoDetalle let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Detalle del gasto</h4>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive-lg">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Compra</th>
                        <th scope="col">Articulo</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Sub total</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of datosD$">
                        <td>{{ item.iddetalle}}</td>
                        <td>{{ item.idcompra}}</td>
                        <td>{{ item.nombrearticulo}}</td>
                        <td>{{ item.cantidaddetalle}}</td>
                        <td>{{ item.preciodetalle | currency:'Q '}}</td>
                        <td>{{ item.preciodetalle * item.cantidaddetalle | currency:'Q '}}</td>
                        <td>
                            <a (click)="eliminarDetalle(item.iddetalle)"
                                ngbPopover="El registro puede eliminarse toda vez no esté inventariado"
                                triggers="mouseenter:mouseleave" placement="left" popoverTitle="Precaución">
                                <i class="material-icons">{{ie}}</i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>{{total | currency: 'Q '}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--Inicia el espacio de mensajes-->
        <ngb-alert *ngIf="successMessage" type={{messageType}} (close)="successMessage = null">
            {{ successMessage }}
        </ngb-alert>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Salir</button>
    </div>
</ng-template>