<div class="table-responsive-lg">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Factura</th>                
                <th scope="col">Total</th>
                <th scope="col">Fecha</th>                                
                <th scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="collectionSize==0 else carga">
                <td colspan="6" class="centrarElemento">
                    No existen registros creados.
                </td>
            </tr>

            <ng-template #carga>
                <tr *ngFor="let item of items">
                    <td>{{ item.idcompra}}</td>
                    <td>{{ item.proveedorcompra}}</td>
                    <td>{{ item.seriecompra }}-{{ item.numerocompra}}</td>                    
                    <td>{{ item.totalcompra | currency:'Q '}}</td>
                    <td>{{ item.fechacompra | date:'dd/MM/yyyy'}}</td>                                     
                    <td>
                        <a title="Listar detalle">
                            <i class="material-icons">{{il}}</i>
                        </a>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
    <!--PAGINACION DEL LISTADO-->
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
        </select>
    </div>
</div>
{{saludo}}