<div class="table-responsive-lg">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Servicio</th>
                <th scope="col">Costo extra</th>
                <th scope="col">Actualizar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{ item.idservicio}}</td>
                <td>{{ item.nombreservicio}}</td>
                <td>{{ item.costoextraservicio | currency:'Q '}}</td>
                <td>
                    <a title="Actualizar registro">
                        <i class="material-icons">{{ia}}</i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <!--PAGINACION DEL LISTADO-->
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
        </select>
    </div>
</div>