<div class="table-responsive-lg">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Hotel</th>
                <th scope="col">Descripción</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="collectionSize==0 else carga">
                <td colspan="4" class="centrarElemento">
                    No existen registros creados.
                </td>
            </tr>
            <ng-template #carga>
                <tr *ngFor="let item of items">
                    <td>{{ item.idhotel}}.{{item.iddetalle}}.{{item.idinventario}}</td>
                    <td>{{ item.nombrehotel}}</td>
                    <td>{{ item.nombrearticulo}} {{item.descripcionarticulo}}</td>
                    <td *ngIf="item.estadoinventario == 1" else inactivo>
                        Activo
                    </td>
                    <ng-template #inactivo>
                        Inactivo
                    </ng-template>
                </tr>
            </ng-template>
        </tbody>
    </table>
    <!--PAGINACION DEL LISTADO-->
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
        </select>
    </div>
</div>