<app-crear-admin (renderSon)="render($event)">  
</app-crear-admin>
<br />
<app-listar-admin></app-listar-admin>    
<button (click)="enviarmensaje()">Enviar mensaje</button>




<!--
<div class="jumbotron">
    <h1>Administración</h1>
    <p class="lead">
        Este módulo está diseñado exclusivamente para la administración
        de la empresa, contiene la administración general de los catálogos
        así como también las transacciones realizadas con el software.
    </p>
    <hr class="my-4">
    <h3 class="primary">Catálogos</h3>
    <div class="card-deck">
        <div class="card">
            <img src="../../assets/detallegasto.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hoteles</h5>
                <p class="card-text">Cree y actualice el catálogo de hoteles de su preferencia.</p>
                <a class="btn btn-primary btn-lg btn-block" routerLink="hotel" role="button">
                    Visitar
                </a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Administración</small>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/detallegasto.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Artículos</h5>
                <p class="card-text">Administre eficientemente el inventario físico de los hoteles.</p>
                <a class="btn btn-primary btn-lg btn-block" routerLink="articulo" role="button">
                    Vis
itar
                </a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Administración</small>
            </div>
        </div>
        <div class="card">
            <img src=".
itar
                </a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Administración</small>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <h3 class="primary">Transacciones</h3>
    <div class="card-deck">
        <div class="card">
            <img src="../../assets/detallegasto.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gastos</h5>
                <p class="card-text">Registre y administre los gastos realizados en los hoteles.</p>
                <a class="btn btn-primary btn-lg btn-block" routerLink="compras" role="button">
                    Visitar
                </a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Administración</small>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/detallegasto.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Detalle de compra</h5>
                <p class="card-text">Administre eficientemente el inventario físico de los hoteles.</p>
                <a class="btn btn-primary btn-lg btn-block" routerLink="detallecompra" role="button">
                    Visitar
                </a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Administración</small>
            </div>
        </div>
        <div class="
small class="text-muted">Administración</small>
            </div>
        </div>
    </div>
</div>
-->