<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Nuevo registro</button>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nuevo registro</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
                <a ngbNavLink>Habitación</a>
                <ng-template ngbNavContent>
                    <form [formGroup]="datos">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="my-1 mr-2" for="idmodulo">Modulo:</label>
                                <select class="custom-select my-1 mr-sm-2" id="idmodulo" formControlName="idmodulo"
                                    required>
                                    <option *ngFor="let item of modulos" value={{item.idmodulo}}>
                                        {{item.nombremodulo}}
                                    </option>
                                </select>
                                <small class="form-text text-muted">Campo obligatorio *</small>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="my-1 mr-2" for="idtipo">Tipo de habitación:</label>
                                <select class="custom-select my-1 mr-sm-2" id="idtipo" formControlName="idtipo"
                                    required>
                                    <option *ngFor="let item of tipos" value={{item.idtipo}}>
                                        {{item.nombretipo}}
                                    </option>
                                </select>
                                <small class="form-text text-muted">Campo obligatorio *</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="preciohabitacion">Precio:</label>
                                <input type="number" class="form-control" id="preciohabitacion" placeholder="Q750.00"
                                    formControlName="preciohabitacion" required>
                                <small class="form-text text-muted">Campo obligatorio *</small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="estadohabitacion">Estado:</label>
                                <input type="text" class="form-control" id="estadohabitacion" placeholder="Disponible"
                                    required disabled>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink>Servicios</a>
                <ng-template ngbNavContent>
                    <form [formGroup]="formservicios">
                        <div class="form-row">
                            <div class="form-group col-md-10">
                                <label class="my-1 mr-2" for="idservicio">Servicios:</label>
                                <select class="custom-select my-1 mr-sm-2" id="idservicio" formControlName="idservicio"
                                    (change)="cargarServicio($event)">
                                    <option *ngFor="let item of servicios" value={{item.idservicio}}>
                                        {{item.nombreservicio}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="my-1 mr-2" for="todos"></label>
                                <br/>
                                <a (click)="agregarTodos()" id="todos"
                                    ngbPopover="Agregar todos los servicios"
                                    triggers="mouseenter:mouseleave" placement="left" popoverTitle="Agregar">
                                    <i class="material-icons md-36">{{it}}</i>
                                </a>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive-lg">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="centrarElemento">Servicios</th>
                                    <th scope="col" class="centrarElemento">Remover</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="serviciosSeleccionados.length==0 else carga">
                                    <td colspan="2" class="centrarElemento">
                                        No existen servicios seleccionados.
                                    </td>
                                </tr>
                                <ng-template #carga>
                                    <tr *ngFor="let item of serviciosSeleccionados">
                                        <td class="centrarElemento">{{ item.nombreservicio }}</td>
                                        <td class="centrarElemento">
                                            <a (click)="eliminarServicio(item.idservicio)"
                                                ngbPopover="El registro puede removerse sin ningún problema"
                                                triggers="mouseenter:mouseleave" placement="left"
                                                popoverTitle="Eliminar">
                                                <i class="material-icons">{{ie}}</i>
                                            </a>
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink>Complementos</a>
                <ng-template ngbNavContent>
                    <form [formGroup]="forminventarios">
                        <div class="form-group">
                            <label class="my-1 mr-2" for="idinventario">Inventarios:</label>
                            <select class="custom-select my-1 mr-sm-2" id="idinventario" formControlName="idinventario"
                                (change)="cargarInventario($event)">
                                <option *ngFor="let item of inventarios" value={{item.idinventario}}>
                                    código:
                                    {{item.idhotel}}.{{item.iddetalle}}.{{item.idinventario}}-{{item.nombrearticulo}}
                                    {{ item.descripcionarticulo}}
                                </option>
                            </select>
                        </div>
                    </form>
                    <div class="table-responsive-lg">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="centrarElemento">Complementos</th>
                                    <th scope="col" class="centrarElemento">Remover</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="inventariosSeleccionados.length==0 else cargai">
                                    <td colspan="2" class="centrarElemento">
                                        No existen inventarios seleccionados.
                                    </td>
                                </tr>

                                <ng-template #cargai>
                                    <tr *ngFor="let item of inventariosSeleccionados">
                                        <td class="centrarElemento">
                                            código:
                                            {{item.idhotel}}.{{item.iddetalle}}.{{item.idinventario}} -
                                            {{item.nombrearticulo}}
                                            {{ item.descripcionarticulo}}
                                        </td>
                                        <td class="centrarElemento">
                                            <a (click)="eliminarInventario(item.idinventario)"
                                                ngbPopover="El registro puede removerse sin ningún problema"
                                                triggers="mouseenter:mouseleave" placement="left"
                                                popoverTitle="Eliminar">
                                                <i class="material-icons">{{ie}}</i>
                                            </a>
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <!--Inicia el espacio de mensajes-->
        <ngb-alert *ngIf="successMessage" type={{messageType}} (close)="successMessage = null">
            {{ successMessage }}
        </ngb-alert>
    </div>
    <div class="modal-footer" *ngIf="btnLoading else cargando">
        <button type="button" class="btn btn-primary" (click)="nuevoElemento()">Guardar</button>
        <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Salir</button>
    </div>
    <ng-template #cargando>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Procesando...
            </button>
            <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Salir</button>
        </div>
    </ng-template>
</ng-template>