<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Nuevo registro</button>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nuevo registro</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="datos">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <datalist id="modulos">
                        <option *ngFor="let item of modulos" [value]="item.idmodulo">
                            {{item.nombremodulo}}
                        </option>
                    </datalist>
                    <label for="idmodulo">Módulo:</label>
                    <strong> {{ moduloseleccionado}}</strong>                    
                    <input 
                        type="number"                      
                        class="form-control" 
                        id="idmodulo" 
                        list="modulos"                        
                        formControlName="idmodulo" 
                        placeholder="Seleccione..."   
                        (change)="emodulo($event)"                     
                        required>                       
                    <small class="form-text text-muted">Campo obligatorio *</small>
                </div>
                <div class="form-group col-md-6">
                    <datalist id="tipos">
                        <option *ngFor="let item of tipos" [value]="item.idtipo">
                            {{item.nombretipo}}
                        </option>
                    </datalist>
                    <label for="idtipo">Tipo:</label>
                    <strong> {{ tiposeleccionado}}</strong>
                    <input 
                        type="number"  
                        class="form-control" 
                        id="idtipo" 
                        list="tipos"
                        placeholder="Seleccione..."
                        formControlName="idtipo"                                                 
                        (change)="etipo($event)"
                        required>
                    <small class="form-text text-muted">Campo obligatorio *</small>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="preciohabitacion">Precio:</label>
                    <input type="number" class="form-control" id="preciohabitacion" placeholder="Q750.00"
                        formControlName="preciohabitacion" required>
                    <small class="form-text text-muted">Campo obligatorio *</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="estadohabitacion">Estado:</label>
                    <input type="text" class="form-control" id="estadohabitacion" placeholder="Disponible" required
                        disabled>
                </div>
            </div>

            <!--Inicia el espacio de mensajes-->
            <ngb-alert *ngIf="successMessage" type={{messageType}} (close)="successMessage = null">
                {{ successMessage }}
            </ngb-alert>
        </form>
    </div>
    <div class="modal-footer" *ngIf="btnLoading else cargando">
        <button type="button" class="btn btn-primary" (click)="nuevoElemento()">Guardar</button>
        <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Salir</button>
    </div>
    <ng-template #cargando>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Procesando...
            </button>
            <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Salir</button>
        </div>
    </ng-template>
</ng-template>